.bar {
    font-size: 14px;
    background-color: #000;
    color: #b0b4bc;
}

.item {
    $item-padding: 25px;

    margin-right: $item-padding;
    font-family: monospace;

    &:not(:first-child) {
        border-left: 2px solid #222;
        padding-left: $item-padding;
    }

    &.systray {
        opacity: 0.75;
    }
}


