$background: #000000;

$text-primary: #b0b4bc;
$text-dim: #80848c;
$text-bright: #e0e4ec;

$urgency-low: #ffee66;
$urgency-high: #ff4444;

$item-separator: #222222;

$workspace-padding: 10px;
$item-padding: 25px;

.bar {
    font-size: 13px;
    background-color: $background;
    color: $text-primary;
    padding-bottom: 0.2rem;
    margin-top: -0.1rem;
}

.workspaces {
    & .entry {
        color: $text-dim;
        &.current {
            color: $text-bright;
        }

        &.empty:not(.current) {
            opacity: 0;
        }

        label {
            padding-left: $workspace-padding;
        }
    }
}

.item {
    margin-right: $item-padding;
    font-family: monospace;

    &:not(:first-child) {
        border-left: 2px solid $item-separator;
        padding-left: $item-padding;
    }

    &.systray {
        opacity: 0.75;
    }

    &.urgency-low {
        color: $text-urgency-low;
    }
    &.urgency-medium {
        color: $text-urgency-high;
    }
    &.urgency-high {
        color: $text-urgency-high;
        animation: flash 1s ease-out infinite;
        @keyframes flash {
            50% {
                color: $text-urgency-low;
            }
        }
    }
}



