[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=mpv --script=~/.config/mpv/mpv-cheatsheet.js %f
Name=mpv-cheatsheet.js
Comment=Custom definition for mpv-cheatsheet.js
